body {
	background-color: #c6d8f9;
	width: 70%;
	margin: 0 auto;
}

/* Menu */

ul {
	display: flex;
	list-style-type: none;
}

li {
	padding: 5px;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

/* En-tête */

header {
	height: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Contenu */

h1, h2, h3 {
	text-align: center;
}

#postsList {
	display: flex;
	flex-wrap: wrap;
}

.news {
	width: 20%;
	background-color: white;
	margin: 10px;
	padding: 10px;
}

#postPage, #commentSection {
	width: 60%;
	margin: 0 auto;
	background-color: white;
}

#postPage {
	padding: 10px;	
	margin-bottom: 20px;
} 

#commentSection {
	padding: 10px;

}

.warningLink {
	color: red;
}

form {
	text-align: center;
}

.loginPage {
	text-align: center;
} 

.loginPage a {
	color: blue;
}
