body {
	background-color: #c6d8f9;
	width: 70%;
	margin: 0 auto;
}

header {
	height: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1, h2, h3 {
	text-align: center;
}

#postsList {
	display: flex;
	flex-wrap: wrap;
}

.news {
	width: 20%;
	background-color: white;
	margin: 10px;
	padding: 10px;
}